

body {
    font-family: Arial, sans-serif;
    background-color: #DDC57C;
    align-items: center;

    margin: 0;
    padding: 0 15%;
}

a{
    text-decoration: none;
}

/* -------------------------------------------------- 以下是header的部分 -------------------------------------------------- */

header {
    height: 45%;
    padding: 20px;
    text-align: left;
}

.logo{
    text-align: center;
    margin-bottom: 20px;
}

.logo img{
    width: 150px;
}

.nav {
    display: flex;

    padding: 0 10px;
    margin-bottom: 20px;
    border-radius: 12px; 

    background-color: #EAE1C6;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.nav ul li {
    display: inline;
    margin: 0 20px;
}

.nav ul li a {
    color: #012A36;
    text-decoration: none;
    font-size: 22px;
}

.restaurant_image {
    position: relative;
    text-align: center;
    justify-content: space-between;

    width: 100%;
    height: 55vh;
    overflow: hidden;
    border-radius: 12px;

    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.restaurant_image img{
    width: 100%;
}

.restaurant_image h1 {
    position: absolute;
    top: 70%; 
    left: 5%; 
    transform: translate(0, -50%);
    font-size: 2rem;

    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 5px;

    color: #012A36;
    background-color: #EAE1C6;
    border-radius: 12px;    
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
}

/* -------------------------------------------------- 以下是body的部分 -------------------------------------------------- */

.Pad{
    padding: 20px;
}

.Restaurant{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px 50px;     /* 子元素的間距 */

    li{
        width: 300px;               /* 圖片最大寬度限制在容器內 */
        height: 300px;
        display: flex;
        flex-direction: column;         /* 讓子元素垂直排列 */
        /*margin: 10px 30px;    */          /* 每個項目之間的間距 */
        background-color:#EAE1C6;
        border-radius: 7px; /* 圓角框線 */
        box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);

        img{
            margin-top: 30px;
            margin-bottom: 25px;
            justify-content: center;    /* 圖片置中 */
            width: 240px;               /* 圖片最大寬度限制在容器內 */
            height: 180px;              
            border-radius: 4px; /* 圓角框線 */
            object-fit: cover;
        }

        a{
            text-align: center;

            span{
                font-size: 24px;
                color: #012A36;
                font-weight: normal;
            }
        }
    }

    
}

.image-list {
    display: flex;               /* 使用 Flexbox */
    padding: 0;                  /* 移除內邊距 */
    list-style: none;            /* 移除項目符號 */
}

footer{
    margin-top:200px;
    width: 100%;
    background-color: #EAE1C6;
    padding: 20px 0;
    text-align: center;
}